# ===== Base =====
BasedOnStyle: LLVM
Language: Cpp

# ===== Indentation =====
IndentWidth: 4
TabWidth: 4
UseTab: Never

# ===== Line Length =====
ColumnLimit: 100

# ===== Braces =====
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# ===== Function =====
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

# ===== Alignment =====
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# ===== Pointer / Reference =====
PointerAlignment: Left
ReferenceAlignment: Pointer

# ===== Spaces =====
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# ===== Includes =====
SortIncludes: true
IncludeBlocks: Regroup

# ===== Misc =====
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
Cpp11BracedListStyle: true
DeriveLineEnding: true
DerivePointerAlignment: false
